<div class="login-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <div class="field-container">
   <div class="header">
  <a class="back btn">back</a>
  <h3 class="title">SIGNUP</h3>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn" %>
  </div>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
 
  <div class="field">
  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input", placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
  </div>

  <div class="password-field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "New Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm Password" %>
  </div>

  </div>
<% end %>
<div class="shared">
<%= render "devise/shared/links" %>
</div>
</div>